pytest
coverage
flake8
black
isort
pytest-cov
codecov
gitchangelog
mkdocs
Authlib
msal
azure-identity
azure-keyvault
azure-keyvault-certificates
fastapi[all]
aiohttp
async-asgi-testclient
pytest-asyncio

